@model Category
<div class="container py-5">
    <div class="row">
        @foreach (Project item in Model.Projects)
        {
            <div class="col-md-4 mb-3">
                <img src="~/@item.Image" class="w-100" />
                <h4 class="mt-3">@item.Title</h4>
            </div>
        }
    </div>
</div>